
@media  screen and (min-width: 768px){
    .sider{
        top: 51px;
        position: absolute;
        z-index: 1;
        width: 250px;
    }
}
@media screen and (min-width: 768px) {
    .nav-top-links {
        margin-right: 0px;
    }
    .sider-search{
        padding: 10px;
    }
    .sider ul li{
        border-bottom: 1px solid #e7e7e7;
    }
    #task{
        margin-left: -100px;
    }
}
@media screen and (max-width: 991px){
    .nav-top-links{
        display: none;
    }
}
@media screen and (min-width: 768px){
    .wrap{
        margin-left: 250px;
        margin-top: 51px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
        background-color: #fff;
    }
}
